annotated-types==0.7.0
asgiref==3.11.1
boto3==1.38.0
botocore==1.38.46
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.5
cryptography==46.0.5
dj-database-url==2.3.0
Django==6.0.2
django-allauth==65.15.0
django-storages==1.14.4
gunicorn==25.1.0
idna==3.11
jmespath==1.1.0
mailtrap==2.5.0
packaging==26.0
pillow==11.2.1
psycopg2-binary==2.9.10
pycparser==3.0
pydantic==2.13.3
pydantic_core==2.46.3
PyJWT==2.10.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2026.1.post1
requests==2.32.5
s3transfer==0.12.0
six==1.17.0
sqlparse==0.5.5
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.3
whitenoise==6.12.0
